Node-RED_Flow.json
[{"id":"57533e17.ef9e7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"363d7cc1.3d1f94","type":"mqtt-broker","name":"broker","broker":"10.77.60.2","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f5040395.496b6","type":"ui_tab","name":"Kapı","icon":"dashboard","disabled":false,"hidden":false},{"id":"23020d78.bba612","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8d02c0eb.a7675","type":"ui_group","name":"Nem","tab":"537df839.5b35b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f330e2d.ad7df","type":"ui_group","name":"Kapı Durumu","tab":"f5040395.496b6","order":2,"disp":true,"width":"6","collapse":false},{"id":"629b2840.050098","type":"ui_group","name":"Tarih - Saat:","tab":"f5040395.496b6","order":3,"disp":true,"width":"6","collapse":false},{"id":"cf8838eb.b91be8","type":"ui_group","name":"Telegram Kapı Komutu","tab":"f5040395.496b6","order":4,"disp":true,"width":"6","collapse":false},{"id":"537df839.5b35b8","type":"ui_tab","name":"Sensor/Alarm","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a4f1b96.47bb94","type":"ui_group","name":"PIR Durumu","tab":"f5040395.496b6","order":4,"disp":true,"width":"6","collapse":false},{"id":"be9b0746.da9838","type":"ui_group","name":"Sıcaklık","tab":"537df839.5b35b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7206b617.b73778","type":"ui_group","name":"Gaz Değeri","tab":"537df839.5b35b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"53722027.76146","type":"ui_group","name":"Alarm Durumu","tab":"537df839.5b35b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"492ab661.2f9d28","type":"influxdb","hostname":"10.77.60.4","port":"8086","protocol":"http","database":"sunucuOdasiDB","name":"influx","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"8df16742.1b5f88","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"pırDurumu","qos":"0","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":500,"y":20,"wires":[["1ecb14cf.b3b75b"]]},{"id":"1ecb14cf.b3b75b","type":"ui_gauge","z":"57533e17.ef9e7","name":"","group":"3a4f1b96.47bb94","order":0,"width":"0","height":"0","gtype":"gage","title":"PIR","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":20,"wires":[]},{"id":"dab819cf.08ddb8","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"kapiDurumu","qos":"2","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":110,"y":20,"wires":[["5f92df6e.6cc9d"]]},{"id":"5f92df6e.6cc9d","type":"ui_gauge","z":"57533e17.ef9e7","name":"","group":"9f330e2d.ad7df","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":20,"wires":[]},{"id":"98ac4c7c.01447","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"zamanBilgisi","qos":"0","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":110,"y":80,"wires":[["76e9ef35.8088e"]]},{"id":"76e9ef35.8088e","type":"ui_text","z":"57533e17.ef9e7","group":"629b2840.050098","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":310,"y":80,"wires":[]},{"id":"16e2d053.635c7","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"telegramKapiKomut","qos":"1","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":530,"y":80,"wires":[["ac37b52f.e42f18"]]},{"id":"ac37b52f.e42f18","type":"ui_text","z":"57533e17.ef9e7","group":"cf8838eb.b91be8","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":750,"y":80,"wires":[]},{"id":"4d14adc.8790d54","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"nemSensor","qos":"0","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":110,"y":280,"wires":[["3c5772da.687f5e"]]},{"id":"3c5772da.687f5e","type":"ui_gauge","z":"57533e17.ef9e7","name":"","group":"8d02c0eb.a7675","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":280,"wires":[]},{"id":"4bf53188.5828","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"sicaklikSensor","qos":"0","datatype":"json","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":110,"y":200,"wires":[["d81e0752.797f68"]]},{"id":"d81e0752.797f68","type":"ui_gauge","z":"57533e17.ef9e7","name":"","group":"be9b0746.da9838","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":200,"wires":[]},{"id":"f8ea40f7.64062","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"gazSensor","qos":"0","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":500,"y":200,"wires":[["f7c90fe6.27a2b"]]},{"id":"f7c90fe6.27a2b","type":"ui_gauge","z":"57533e17.ef9e7","name":"","group":"7206b617.b73778","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":200,"wires":[]},{"id":"1317a366.599d5d","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"alarmDurumu","qos":"2","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":510,"y":280,"wires":[["55c3c18c.68e5"]]},{"id":"55c3c18c.68e5","type":"ui_gauge","z":"57533e17.ef9e7","name":"","group":"53722027.76146","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":280,"wires":[]},{"id":"ac76b4cf.89e138","type":"influxdb batch","z":"57533e17.ef9e7","influxdb":"492ab661.2f9d28","precision":"","retentionPolicy":"","name":"İnfluxBatch","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":510,"y":400,"wires":[]},{"id":"ba661c7c.54247","type":"function","z":"57533e17.ef9e7","name":"","func":"var txt = msg.payload\nvar obj = JSON.parse(txt);\n\nsicaklik=parseFloat(obj.sicaklikSensor);\nnem=parseFloat(obj.nemSensor);\ngaz=parseFloat(obj.gazSensor);\nalarm=parseFloat(obj.alarmDurumu);\n\npir=parseFloat(obj.pırDurumu);\ntelegramkomut=parseFloat(obj.telegramKapiKomut);\nkapi=parseFloat(obj.kapiDurumu);\n\nmsg.payload=[{\n    measurement: \"AlarmDurum\",\n    fields:{\n        Sicaklik:sicaklik,\n        Nem:nem,\n        Gaz:gaz,\n        Alarm:alarm\n    }\n},\n    {\n    measurement: \"KapiDurum\",\n    fields:{\n        Pir:pir,\n        Telegramkomut:telegramkomut,\n        Kapi:kapi\n    }\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["ac76b4cf.89e138"]]},{"id":"245a9543.9f478a","type":"mqtt in","z":"57533e17.ef9e7","name":"","topic":"json_pub","qos":"0","datatype":"auto","broker":"363d7cc1.3d1f94","nl":false,"rap":true,"rh":0,"x":100,"y":400,"wires":[["ba661c7c.54247","8c8a73fd.5917b"]]},{"id":"8c8a73fd.5917b","type":"debug","z":"57533e17.ef9e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":500,"wires":[]}]